<div class="card">
  <img
    [src]="productItem.productImg"
    class="card-img-top"
    alt="..."
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  />
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img [src]="productItem.productImg" alt="" />
        <h5 class="modal-title" id="exampleModalLabel">
          {{ productItem.productName }}
        </h5>
        <p>{{ productItem.productDescription }}</p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
