<h2 class="title-text">EXHIBTORS</h2>
<div class="main-container">
  <div class="select-container">
    <select class="form-select" [(ngModel)]="category" >
      <option value="" >All</option>
      <option [ngValue]="c" *ngFor="let c of categories">
        {{ c.categoryName }}
      </option>
    </select>
  </div>
  <div class="list-container">
    <div class="row">
      <div
        class="col-md-4 col-6"
        *ngFor="let page of pageList | pageFilter: category:pageName"
      >
        <app-page-card [pageItem]="page"></app-page-card>
      </div>
    </div>
    <ul class="alphabet-list">
      <li (click)="pageName=''">All</li>
      <li (click)="pageName = 'a'">A</li>
      <li (click)="pageName = 'b'">B</li>
      <li (click)="pageName = 'c'">C</li>
      <li (click)="pageName = 'd'">D</li>
      <li (click)="pageName = 'e'">E</li>
      <li (click)="pageName = 'f'">F</li>
      <li (click)="pageName = 'g'">G</li>
      <li (click)="pageName = 'h'">H</li>
      <li (click)="pageName = 'i'">I</li>
      <li (click)="pageName = 'j'">J</li>
      <li (click)="pageName = 'k'">K</li>
      <li (click)="pageName = 'l'">L</li>
      <li (click)="pageName = 'm'">M</li>
      <li (click)="pageName = 'n'">N</li>
      <li (click)="pageName = 'o'">O</li>
      <li (click)="pageName = 'p'">P</li>
      <li (click)="pageName = 'q'">Q</li>
      <li (click)="pageName = 'r'">R</li>
      <li (click)="pageName = 's'">S</li>
      <li (click)="pageName = 't'">T</li>
      <li (click)="pageName = 'u'">U</li>
      <li (click)="pageName = 'v'">V</li>
      <li (click)="pageName = 'w'">W</li>
      <li (click)="pageName = 'x'">X</li>
      <li (click)="pageName = 'y'">Y</li>
      <li (click)="pageName = 'z'">Z</li>
    </ul>
  </div>
</div>
