nav{
    height: 70px;
    margin: 20px;
}
.navbar-light{
    background-color: black;
    
}
.nav-item .nav-link{
    color: white;
}
nav img{
    width: 80px;
}
nav .test-dropdown{
    height: 70px;
    background-color: rgb(0, 140, 255);
}
nav .test-dropdown .btn-secondary{
    background-color: transparent;
    border: 0;
   padding: 20px;
}
