<h2 class="title-text" [routerLink]="['/exhibitors']" routerLinkActive="router-link-active" ><i class="fas fa-arrow-left"></i> Back</h2>
<div class="main-container">
  <img [src]="pageItem.coverImg" alt="" class="cover-img" />
  <div class="row text-youtube-row">
    <div class="col-md-9">
      <div class="text-container">
        <h2>
          {{ pageItem.title }}
        </h2>
        <p>
          {{ pageItem.description }}
        </p>
        <div class="row button-row">
          <button type="button" class="btn btn-primary col chat-btn">
            <i class="far fa-comment-dots"></i> Chat >
          </button>
          <button
            type="button"
            id="ig-link"
            ng-href="pageItem.socialmediaLink"
            class="btn btn-primary col social-btn"
          >
            <i class="fab fa-instagram"></i> Social Media >
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive embed-responsive-4by3">
        <iframe
          class="embed-responsive-item"
          [src]="pageItem.youtubeLink"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="hr-text">
    <span> Product Gallery</span>
  </div>





  <div class="menu-wrapper">
    <ul class="menu">
      <li
        class="item"
        *ngFor="let product of productList | productFilter: pageItem"
      >
        <app-product-card [productItem]="product"></app-product-card>
      </li>
    </ul>
    <div class="paddles">
      <button
        type="button"
        class="left-paddle2 paddle hidden border-0 btn btn-white"
      >
        <i class="fas fa-chevron-left text-black"></i>
      </button>
      <button type="button" class="right-paddle2 paddle border-0 btn btn-white">
        <i class="fas fa-chevron-right text-black"></i>
      </button>
    </div>
  </div>
</div>
