<div class="main-container">
  <img
    [src]="pageItem.coverImg"
    alt=""
    class="cover-img"
  />
  <div class="row text-youtube-row">
    <div class="col-md-9">
      <div class="text-container">
        <h2>
          {{ pageItem.title }}
        </h2>
        <p>
          {{ pageItem.description }}
        </p>
        <div class="row button-row">
          <button type="button" class="btn btn-primary col">
            <i class="far fa-comment-dots"></i> Chat >
          </button>
          <button type="button" class="btn btn-primary col">
            <i class="fab fa-instagram"></i> Social Media >
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive embed-responsive-4by3">
        <iframe
          class="embed-responsive-item"
          [src]="pageItem.youtubeLink"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="hr-text">
    <span>
      Section Title
      <!--Padding is optional-->
    </span>
  </div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/yu-kato-824OwkP7sgk-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/emil-karlsson-YfjdfsKQBsA-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/jezael-melgoza-layMbSJ3YOE-unsplash (1).jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/yu-kato-824OwkP7sgk-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/emil-karlsson-YfjdfsKQBsA-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/jezael-melgoza-layMbSJ3YOE-unsplash (1).jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/yu-kato-824OwkP7sgk-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/emil-karlsson-YfjdfsKQBsA-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/images/jezael-melgoza-layMbSJ3YOE-unsplash (1).jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
